<div class="dialog-container">
  <h1 class="titulo-modal">
    <mat-icon>person_add</mat-icon>
    Invitar a personas
  </h1>

  <form #f="ngForm" (ngSubmit)="enviar(f)" class="dialog-body">
    <mat-form-field appearance="outline">
      <mat-label>Email de la persona</mat-label>
      <input matInput type="email" name="email" required [(ngModel)]="email" email [disabled]="loading" />
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button type="button" (click)="cancelar()" [disabled]="loading">
        Cancelar
      </button>

      <button mat-flat-button color="primary" type="submit" [disabled]="f.invalid || loading">
        @if (!loading) {
        Enviar
        } @else {
        <mat-progress-spinner diameter="18" mode="indeterminate" color="accent"></mat-progress-spinner>
        }
      </button>
    </div>
  </form>
</div>