<ng-container *ngIf="(tareasParaValorar$ | async)?.length as pendientes">
  <div *ngIf="pendientes > 0" class="aviso-valoracion">
    🔔 Tienes {{ pendientes }} tarea{{ pendientes > 1 ? 's' : '' }} pendiente{{ pendientes > 1 ? 's' : '' }} de valorar
  </div>
</ng-container>

<div class="contenedor-tareas">
  <div class="grid-tareas">
    <ng-container *ngIf="(tareas$ | async) as tareas">
      <ng-container *ngIf="(miembros$ | async) as miembros">
        <app-tarjeta-tarea *ngFor="let tarea of tareas" [tarea]="tarea" [uidActual]="(usuario$ | async)?.uid || ''"
          [miembros]="miembros" (asignadoCambio)="reasignarTarea(tarea.id, $event)"
          (tareaCompletada)="finalizarTarea(tarea)">
        </app-tarjeta-tarea>
      </ng-container>
    </ng-container>
  </div>
</div>
